name: "CI | Backslash scan"
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  API_KEY: ${{ secrets.BACKSLASH_API_KEY }}
  GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  backslash-scan:
    name: Scanning
    runs-on: ubuntu-latest
    steps:
      - name: Backslash scan step
        uses: backslash-security/scan-action@main
        with:
          authToken: ${{ env.API_KEY }}
          prScan: ${{ github.event_name == 'pull_request' }}
          githubToken: ${{ env.GITHUB_ACCESS_TOKEN }}
