name: "CI | Backslash scan"
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  API_KEY: ${{ secrets.BACKSLASH_API_KEY }}
  GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  backslash-scan:
    name: Scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Backslash scan step
        if: github.event_name == 'pull_request'  # Only run on PR events
        uses: backslash-security/scan-action@main
        with:
          authToken: ${{ env.API_KEY }}
          prScan: true
          githubToken: ${{ env.GITHUB_ACCESS_TOKEN }}
          
      - name: Manual trigger message
        if: github.event_name == 'workflow_dispatch'
        run: echo "Skipping Backslash scan for manual trigger (not supported)"
