name: "CI | Backslash scan"
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

env:
  API_KEY: ${{ secrets.BACKSLASH_API_KEY }}
  GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  backslash-scan:
    name: Scanning
    runs-on: ubuntu-latest
    steps:
      - name: Debug GitHub Context
        run: |
          echo "Event Name: ${{ github.event_name }}"
          echo "Actor: ${{ github.actor }}"
          echo "PR Number: ${{ github.event.pull_request.number || 'N/A' }}"
          echo "PR User Login: ${{ github.event.pull_request.user.login || 'N/A' }}"
          echo "Full event:"
          cat $GITHUB_EVENT_PATH
          
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Backslash scan step
        uses: backslash-security/scan-action@main
        with:
          authToken: ${{ env.API_KEY }}
          prScan: ${{ github.event_name == 'pull_request' }}
          githubToken: ${{ env.GITHUB_ACCESS_TOKEN }}
